body{
    font-family: "Roboto";
}
header{
    background-color: #EAC926;
}
.navigation {
 text-decoration: none;
 color: black;
}
ul{
    list-style-type: none;
}
input {
 border-radius: 5px;
}
.fa-bars{
    background-color: #1259c3;
  color: white;
  border-radius: 5px;
  width: 2em;
  height: 2em;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.titulares{
 font-size: 24px;
}
.precios{
    font-size: 18px;
    text-align: left;
}
.descuento{
    font-size: 16px;
    color: green;
    text-align: left;
    margin-bottom: 20px;
}
.descripcion{
    font-size: 16px;
    color: black;
    text-align: left;
}
.cuerpotexto{
    font-size: 12px;
}
.fa-user-shield{
    width: 100%;
    font-size: 2em;
    margin: 10px;
    color: #1259c3;
    text-align: center;
}
.fa-gift{
    width: 100%;
    font-size: 2em;
    margin: 10px;
    color: #1259c3;
    text-align: center;
}
.fa-credit-card{
    width: 100%;
    font-size: 2em;
    margin: 10px;
    color: #1259c3;
    text-align: center;
}
footer{
    text-align: center;
}
.copyright{
    font-size: 10px;
    text-align: left;
    font-weight:lighter;
}
.basado{
    width: 90%;
    text-align: center;
}
.articulo{
    margin: 5px;
    border-top: solid #ebebeb 1px;
    padding: 0px 15px 0px 15px;
}
.fa-truck{
    color: green;
    border: solid green 1px;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
}
.foto{
    border-bottom: solid #ebebeb 1px;
}
